LibraryManagement/LibraryManagementApplication/Service References/ServiceLibrary/ServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14243/ServiceLibrary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryManagement" />
  <xs:element name="listAllTrade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllTradeResult" nillable="true" type="q1:ArrayOfKhoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q2:Khoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllCardType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllCardTypeResult" nillable="true" type="q3:ArrayOfLoaiTheThuVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q4:LoaiTheThuVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCardTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCardTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllCategoryResult" nillable="true" type="q5:ArrayOfDanhMucSach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q6:DanhMucSach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllPublisher">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllPublisherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllPublisherResult" nillable="true" type="q7:ArrayOfNhaXuatBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q8:NhaXuatBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPublisherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePublisherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllLibrarian">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllLibrarianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllLibrarianResult" nillable="true" type="q9:ArrayOfThuThu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLibrarian">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q10:ThuThu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLibrarianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editLibrarian">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q11:ThuThu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editLibrarianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLibrarian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLibrarianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchLibrarian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchLibrarianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="searchLibrarianResult" nillable="true" type="q12:ArrayOfThuThu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllReader">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllReaderResult" nillable="true" type="q13:ArrayOfDocGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q14:DocGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q15:DocGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editReaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteReaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="searchReaderResult" nillable="true" type="q16:ArrayOfDocGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllBook">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllBookResult" nillable="true" type="q17:ArrayOfSach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q18:Sach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q19:Sach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="searchBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="searchBookResult" nillable="true" type="q20:ArrayOfSach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllAuthor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllAuthorResult" nillable="true" type="q21:ArrayOfTacGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q22:TacGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllAttend">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllAttendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllAttendResult" nillable="true" type="q23:ArrayOfThamGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAttend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q24:ThamGia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAttendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAttend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAttendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllRentCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllRentCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllRentCardResult" nillable="true" type="q25:ArrayOfPhieuMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createRentCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q26:PhieuMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createRentCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editRentCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q27:PhieuMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRentCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRentCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRentCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllRentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rentCardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllRentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listAllRentDetailResult" nillable="true" type="q28:ArrayOfChiTietMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createRentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q29:ChiTietMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createRentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createRentDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="e" nillable="true" type="q30:ChiTietMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRentDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rentCardId" type="xs:int" />
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRentDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countQuantityBookBorrowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rentCardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countQuantityBookBorrowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countQuantityBookBorrowedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listRentOverTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listRentOverTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/LibraryManagement" minOccurs="0" name="listRentOverTimeResult" nillable="true" type="q31:ArrayOfPhieuMuon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>